form{
    padding: 2rem;
    text-align: center;
    }
    input{
        padding:0.5rem;
        margin:0.5rem;
        font-size: 0.8rem;
        border-radius: 5px;
    }
    input.submit{
        background: #b1f7f3;
        color: rgb(83, 87, 87);
background: linear-gradient(56deg,#b1f7f3 3%, #98dbf7 50%);
background: -webkit-linear-gradient(56deg,#b1f7f3 3%, #98dbf7 50%);
background: -moz-linear-gradient(56deg,#b1f7f3 3%, #98dbf7 50%);
    }